
@import url(https://fonts.googleapis.com/css?family=Yeseva+One&display=swap);

h1, h3, p {
  font-family: 'Yeseva One', cursive;
  
}

#mainHeader {
  background-image: url("../img/Bg.png");
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.icons {
  float: right;
  display: inline-block;
}

.fab.fa-twitter, 
.fab.fa-youtube,
.fab.fa-facebook-f {
  color: #D4AF37;
  padding: 20px 10px 5px 5px;
}

img {
  float: left;
}

  /*Menu*/
.topnav {
  font-family: 'Yeseva One', cursive;
  background-color: transparent;
  overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
  
.topnav a:hover {
  border-top: 3px solid white;
}
  
.topnav a.active {
  border-top: 3px solid white;
}

#top-container {
  display: row;
  height: 400px;
  grid-template-columns: 800px;
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

h1 {
  color: white;
  opacity: 0.9;
  font-size: 50px;
}

.devider {
  width: 20%;
  text-align: center;
  position: relative;
  top: -30px;
  right: -500px;
}

.btn-group button {
  color: white; 
  font-size: 12px;
  padding: 10px 34px;
  cursor: pointer;
  float: left; 
  margin: 10px;
  position: relative;
  top: 70px;
  right: -205px;
}

.btn-group button.b1 {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid black;
  color: white;
}

.btn-group button.b2 {
  background-color: rgba(255,255,255,0.3);
  border: 1px solid white;
  color: white;
}

.menu-section {
  background-image: url("../img/SectionBackground.png");
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 700px;
}

#grid-container {
  display: grid;
  height: 200px;
  grid-template-columns: 600px;
  grid-template-rows: repeat(6, 1fr);
}

h3 {
  color: #D4AF37;
  margin: 70px 50px 10px 150px;
  font-size: 30px;
}

.divider2 {
  width: 35%;
  grid-row: 2 / 4;
  margin: 10px 50px 20px 200px;
  text-align: center;
}

p {
  font-size: 15px;
  grid-row: 3 / 4;
  margin: 10px 50px 10px 50px;
  text-align: center;
}

.cook {
  grid-row: span 2 / 7;
  margin: 50px 50px 10px 200px;
  text-align: center;
}

.dish {
position: relative;
top: -550px;
right: -650px;
width: 80%;
}